@page
@model CENG396WWTTMS.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trouble</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.TroubleDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.TroubleDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.TicketState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.TicketState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.AbonNumNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.AbonNumNavigation.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.CrewAssigned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.CrewAssigned.CrewName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Trouble.TtNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
