@page
@model CENG396WWTTMS.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Trouble</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.TroubleDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.TroubleDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.TicketState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.TicketState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.AbonNumNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.AbonNumNavigation.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trouble.CrewAssigned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trouble.CrewAssigned.CrewName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Trouble.TtNumber">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
