@page
@model CENG396WWTTMS.MCCModel
@{
    ViewData["Title"] = "MCC";
    Layout = "~/Pages/Shared/_LayoutMCC.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
</head>
<body>
    <!--<button type="submit" asp-page="Index" asp-page-handler="Logout" style="float:right; background-color:lightgrey" class="btn" value="Logout">Logout</button>-->
    <form id="frm1" method="post">
        <div class="row">
            <div class="column" style="background-color:#FBF8EF;overflow:hidden;">
                <h3>Trouble Message Box:</h3>
                <h7>Finalize your selected trouble by clicking the square box!</h7>
                <div class="troublesection" class="form-group" style="overflow:scroll;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="TroubleCheck" name="username" value="Trouble" onclick="Trouble()">
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trouble[0].TicketState)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trouble[0].TtNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trouble[0].AbonNum)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trouble[0].FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trouble[0].Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trouble[0].TroubleDesc)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Trouble)
                            {
                                <tr>
                                    <td>
                                        <div>
                                            <input type="radio" id="TroubleCheck" name="username" value="Trouble" onclick="Trouble()">
                                        </div>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketState)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TtNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AbonNum)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TroubleDesc)
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
            &nbsp;&nbsp;
            <div class="column" style="background-color:#FBF8EF;">
                <h3>Crew Information Box:</h3>
                <div class="form-group">
                    <label class="control-label" for="crew_members">Choose Crew Member:</label>
                    <select class="form-control" id="crew_members" name="crew_members">
                        <option value="1">Crew A</option>
                        <option value="2">Crew B</option>
                        <option value="3">Crew C</option>
                    </select>
                </div>
                <div class="form-group">
                    <center><input class="crewButton" type="button" onclick="myCrew()" value="Assign Crew"></center>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <div class="column2" style="background-color:#FBFBEF;">
                <h3>Send The Selected Trouble to an Assigned Crew:</h3>
                <div class="infosection">
                    <p id="text" style="display:none">Trouble Selected</p>
                    <p name="crew_members_print" style="color:black;" id="assigned_crew"></p>
                </div>&nbsp;
                <div class="form-group">
                    <center><button class="sendButton" onclick="Message()" asp-page-handler="Register">SEND!</button></center>
                </div>
            </div>
        </div>
    </form>



    <script>
        function myCrew() {
            var s = document.getElementsByName("crew_members")[0];
            var crew = s.options[s.selectedIndex].text;
            document.getElementById("assigned_crew").innerHTML = "Your Assigned Crew is " + crew;
        }
        function Trouble() {
            var checkBox = document.getElementById("TroubleCheck");
            var text = document.getElementById("text");
            if (checkBox.checked == true) {
                text.style.display = "block";
            } else {
                text.style.display = "none";
            }
        }
        function Message() {
            alert("The Selected Trouble Has Been Sent To The Assigned Crew! ");
        }


    </script>
</body>

</html>


